[Desktop Entry]
Type=IMProtocol
Name=Facebook

[MTI]
Id=im-facebook
Content=FacebookAccountContent
ConnectionManager=gabble
Protocol=jabber
Icon=image://meegotheme/icons/services/facebook
